@page "/reset-password"
@inject IEmailClientService emailClientService
@inject IStringLocalizer<Lang> Localizer


<div class="container">
    <section id="Section-Email-Confirm" style="margin-top: 38px;">
        <div class="row">
            <div class="col text-center">
                <h1>@Localizer["ResetPassword"] 📥</h1>
            </div>
        </div>

        <EditForm Model="forgotPasswordModel" OnValidSubmit="OnVaildSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationMessage For="@(() => forgotPasswordModel.Email)" />
            <ValidationMessage For="@(() => forgotPasswordModel.NewPassword)" />
            <ValidationMessage For="@(() => forgotPasswordModel.ConfirmPassword)" />
            <div class="row">

                <div class="col-12">
                    <div class="text-center" style="width: 100%;">
                        <i class="fas fa-mail-bulk" style="padding-left: 0px;margin-right: 10px;font-size: 22px;"></i>
                        <InputText @bind-Value="forgotPasswordModel.Email" type="email" placeholder="@Localizer["Email"]" style="width: 100%;" />
                    </div>
                </div>

                <div class="col-12">
                    <div class="text-center" style="width: 100%;">
                        <i class="fas fa-mail-bulk" style="padding-left: 0px;margin-right: 10px;font-size: 22px;"></i>
                        <InputText @bind-Value="forgotPasswordModel.NewPassword" type="password" placeholder="@Localizer["Password"]" style="width: 100%;" />
                    </div>
                </div>


                <div class="col-12">
                    <div class="text-center" style="width: 100%;">
                        <i class="fas fa-mail-bulk" style="padding-left: 0px;margin-right: 10px;font-size: 22px;"></i>
                        <InputText @bind-Value="forgotPasswordModel.ConfirmPassword" type="password" placeholder="@Localizer["ConfirmPassword"]" style="width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center" style="width: 100%;">
                        <button class="btn btn-primary" type="submit" style="margin-top: 13px;">@Localizer["Send"] 📩</button>
                    </div>
                </div>
            </div>

           <div class="row">
               <div class="col-12">
                   <NavLink href="/login"> ⬅️ @Localizer["BackToLogin"] </NavLink>
                </div>
           </div>
        </EditForm>
    </section>
</div>


@code {

    #region Fields
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();
    private EditContext editContext;
    #endregion

    #region Events



    #endregion
    #region Methods

    async Task OnVaildSubmit()
    {
        ServerResponse serverResponse = await emailClientService.SendResetPasswordAsync(forgotPasswordModel);

        if (serverResponse.Status == 200)
        {
            Application.Current.MainPage.DisplayAlert(Localizer["Success"], Localizer["EmailSent"], Localizer["Ok"]);
        }
        else
        {
            Application.Current.MainPage.DisplayAlert(Localizer["Error"], Localizer["ErrorOccured"], Localizer["Ok"]);
        }
    }



    #endregion
}
